/** error.css **/
html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: georgia, times new roman, courier new, verdana;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}

button,
.aButton {  /* a link that looks like a button */
  align-items: center;
  background-color: rgb(65, 135, 255);
  border-radius: 5px;
  border: solid 1px rgb(170, 200, 255);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: var(--fontBold);
  font-size: 0.9rem;
  justify-content: center;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-decoration: none;
  transition-duration: 0.15s;
  transition-property: background, box-shadow, color;
  transition-timing-function: ease-in-out;
  user-select: none;
}

button:hover,
.aButton:hover {
  background-color: rgb(0,85,255);
  border: solid 1px rgb(175,180,255);
  box-shadow: var(--boxShadowHover);
  color: white;
}

.errorTitle {
  font-size: 2rem;
  margin-top: 0.5rem;
  text-align: center;
}

.errorImg {
  height: 50vh;
  margin-top: 2rem;
  max-height: 300px;
}

.caption {
  color: rgb(100, 100, 100);
  font-family: courier new;
  font-size: 0.8rem;
}

/* on a phone held vertically */
@media (hover: none) and (orientation: portrait) {
  .errorTitle {font-size: var(--fontSizeLarge);
}
